openapi: 3.0.3
info:
  title: GetPaidHQ API
  description: |
    Comprehensive subscription billing platform API supporting traditional subscriptions, 
    usage-based billing, and hybrid models with advanced features like dunning management, 
    multi-currency support, and enterprise-grade security.
  version: 1.0.5
  contact:
    name: GetPaidHQ Support
    url: https://getpaidhq.co
    email: support@getpaidhq.co
  license:
    name: Proprietary
    url: https://getpaidhq.com/terms

servers:
  - url: https://api.getpaidhq.co
    description: Production server
  - url: https://api-test.getpaidhq.co
    description: Test server

security:
  - ApiKeyAuth: []
  - BearerAuth: []

tags:
  - name: Health
    description: Health check endpoints
  - name: Organizations
    description: Organization management
  - name: Customers
    description: Customer management and payment methods
  - name: Products
    description: Product catalog management
  - name: Variants
    description: Product variant management
  - name: Prices
    description: Pricing configuration
  - name: Subscriptions
    description: Subscription lifecycle management
  - name: Orders
    description: Order processing and management
  - name: Carts
    description: Shopping cart management
  - name: Payments
    description: Payment processing and refunds
  - name: Invoices
    description: Invoice generation and management
  - name: Usage
    description: Usage-based billing, metering, and CloudEvents processing
  - name: Meters
    description: Meter management for usage-based billing
  - name: Gateways
    description: Payment gateway management
  - name: Dunning
    description: Failed payment recovery management
  - name: Webhooks
    description: Webhook management and notifications
  - name: Reports
    description: Analytics and reporting
  - name: Settings
    description: Organization settings
  - name: Discounts
    description: Discount management and coupon codes
  - name: Payment Links
    description: Payment link management and usage tracking
  - name: Public Payments
    description: Public payment endpoints accessible via payment links (no authentication required)

paths:
  # Health
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns the health status of the API service
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  # Organizations
  /api/organizations:
    post:
      tags: [Organizations]
      summary: Create organization
      description: Create a new organization (used during onboarding)
      operationId: createOrganization
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
  
  /api/organizations/api-keys:
    get:
      tags: [Organizations]
      summary: Get organization API keys
      description: Retrieve API keys for the current organization
      operationId: getOrganizationApiKeys
      responses:
        '200':
          description: Organization API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'

  # Customers
  /api/customers:
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email address
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Customer'
    post:
      tags: [Customers]
      summary: Create customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Created customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/customers/{id}/payment-methods:
    post:
      tags: [Customers]
      summary: Create customer payment method
      operationId: createCustomerPaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '201':
          description: Created payment method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'

  /api/customers/{id}/payment-methods/{pmid}:
    put:
      tags: [Customers]
      summary: Update customer payment method
      operationId: updateCustomerPaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerId'
        - name: pmid
          in: path
          required: true
          schema:
            type: string
          description: Payment method ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentMethodRequest'
      responses:
        '200':
          description: Updated payment method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'

  /api/customers/{id}/invoices:
    get:
      tags: [Customers]
      summary: List customer invoices
      operationId: listCustomerInvoices
      parameters:
        - $ref: '#/components/parameters/CustomerId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, paid, overdue, cancelled, refunded]
      responses:
        '200':
          description: List of customer invoices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'

  /api/customers/{id}/dunning-history:
    get:
      tags: [Customers]
      summary: Get customer dunning history
      operationId: getCustomerDunningHistory
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Customer dunning history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DunningCampaign'

  # Products
  /api/products:
    get:
      tags: [Products]
      summary: List products
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
    post:
      tags: [Products]
      summary: Create product
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Created product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /api/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    patch:
      tags: [Products]
      summary: Update product
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [Products]
      summary: Delete product
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '204':
          description: Product deleted

  /api/products/{id}/variants:
    get:
      tags: [Products]
      summary: List product variants
      operationId: listProductVariants
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: List of variants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variant'
    post:
      tags: [Products]
      summary: Create product variant
      operationId: createProductVariant
      parameters:
        - $ref: '#/components/parameters/ProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariantRequest'
      responses:
        '201':
          description: Created variant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'

  # Variants
  /api/variants/{variantId}:
    get:
      tags: [Variants]
      summary: Get variant by ID
      operationId: getVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '200':
          description: Variant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'
    put:
      tags: [Variants]
      summary: Update variant
      operationId: updateVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariantRequest'
      responses:
        '200':
          description: Updated variant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'
    delete:
      tags: [Variants]
      summary: Delete variant
      operationId: deleteVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '204':
          description: Variant deleted

  /api/variants/{variantId}/prices:
    get:
      tags: [Variants]
      summary: List variant prices
      operationId: listVariantPrices
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '200':
          description: List of prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Price'

  # Prices
  /api/prices:
    post:
      tags: [Prices]
      summary: Create price
      operationId: createPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePriceRequest'
      responses:
        '201':
          description: Created price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'

  /api/prices/{priceId}:
    get:
      tags: [Prices]
      summary: Get price by ID
      operationId: getPrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      responses:
        '200':
          description: Price details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
    patch:
      tags: [Prices]
      summary: Update price
      operationId: updatePrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePriceRequest'
      responses:
        '200':
          description: Updated price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
    delete:
      tags: [Prices]
      summary: Delete price
      operationId: deletePrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      responses:
        '204':
          description: Price deleted

  # Subscriptions
  /api/subscriptions:
    get:
      tags: [Subscriptions]
      summary: List subscriptions
      operationId: listSubscriptions
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
        - name: status
          in: query
          schema:
            type: string
            enum: [trial, active, past_due, non_renewing, paused, unpaid, cancelled, pending, expired, completed, error]
        - name: customer_id
          in: query
          schema:
            type: string
          description: Filter by customer ID
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Subscription'
    post:
      tags: [Subscriptions]
      summary: Create subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '201':
          description: Created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/subscriptions/{id}:
    get:
      tags: [Subscriptions]
      summary: Get subscription by ID
      operationId: getSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Subscriptions]
      summary: Update subscription
      description: Update subscription metadata and other mutable fields
      operationId: updateSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/subscriptions/{id}/payments:
    get:
      tags: [Subscriptions]
      summary: List subscription payments
      operationId: listSubscriptionPayments
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payment'

  /api/subscriptions/{id}/pause:
    put:
      tags: [Subscriptions]
      summary: Pause subscription
      operationId: pauseSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseSubscriptionRequest'
      responses:
        '200':
          description: Paused subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/resume:
    put:
      tags: [Subscriptions]
      summary: Resume subscription
      operationId: resumeSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeSubscriptionRequest'
      responses:
        '200':
          description: Resumed subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/activate:
    put:
      tags: [Subscriptions]
      summary: Activate subscription
      operationId: activateSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateSubscriptionRequest'
      responses:
        '200':
          description: Activated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/cancel:
    put:
      tags: [Subscriptions]
      summary: Cancel subscription
      operationId: cancelSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseSubscriptionRequest'
      responses:
        '200':
          description: Cancelled subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/change-plan:
    put:
      tags: [Subscriptions]
      summary: Change subscription plan
      operationId: changeSubscriptionPlan
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePlanRequest'
      responses:
        '200':
          description: Updated subscription and plan change details
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    $ref: '#/components/schemas/Subscription'
                  plan_change:
                    $ref: '#/components/schemas/PlanChange'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/subscriptions/{id}/billing-anchor:
    put:
      tags: [Subscriptions]
      summary: Update subscription billing anchor
      operationId: updateBillingAnchor
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingAnchorRequest'
      responses:
        '200':
          description: Updated subscription with proration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    $ref: '#/components/schemas/Subscription'
                  proration_details:
                    $ref: '#/components/schemas/ProrationDetails'

  /api/subscriptions/{id}/usage:
    get:
      tags: [Usage]
      summary: Get subscription usage
      description: Get usage records for a specific subscription
      operationId: getSubscriptionUsage
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Start date for usage period
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: End date for usage period
      responses:
        '200':
          description: Usage records for the subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageEventResponse'
                  count:
                    type: integer

  /api/subscriptions/{id}/estimate:
    get:
      tags: [Usage]
      summary: Get usage estimate
      description: Get current billing period usage estimate for a subscription
      operationId: getUsageEstimate
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Usage estimate for current billing period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEstimateResponse'

  # Meters
  /api/meters:
    get:
      tags: [Meters]
      summary: List meters
      description: Get a list of all meters for usage-based billing
      operationId: listMeters
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of meters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Meter'
    post:
      tags: [Meters]
      summary: Create meter
      description: Create a new meter for usage-based billing
      operationId: createMeter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
      responses:
        '201':
          description: Meter created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/meters/{id}:
    get:
      tags: [Meters]
      summary: Get meter by ID
      description: Get a specific meter by ID
      operationId: getMeter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Meter ID
      responses:
        '200':
          description: Meter details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Meters]
      summary: Update meter
      description: Update an existing meter
      operationId: updateMeter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Meter ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeterRequest'
      responses:
        '200':
          description: Meter updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Meters]
      summary: Delete meter
      description: Delete a meter
      operationId: deleteMeter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Meter ID
      responses:
        '204':
          description: Meter deleted
        '404':
          $ref: '#/components/responses/NotFound'


  # Usage-Based Billing
  /api/usage-events:
    post:
      tags: [Usage]
      summary: Record usage via CloudEvents
      description: Record usage events using CloudEvents v1.0 specification (new standard)
      operationId: recordCloudEventUsage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordUsageRequest'
      responses:
        '201':
          description: Usage event recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/usage-records:
    get:
      tags: [Usage]
      summary: List usage records
      operationId: listUsageRecords
      parameters:
        - name: subscription_item_id
          in: query
          required: true
          schema:
            type: string
          description: Subscription item ID to filter by
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of usage records
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UsageRecord'
    post:
      tags: [Usage]
      summary: Record usage
      description: Record a single usage event for billing
      operationId: recordUsage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordUsageRequest'
      responses:
        '201':
          description: Usage recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRecord'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/usage-records/batch:
    post:
      tags: [Usage]
      summary: Batch record usage
      description: Record multiple usage events in a single request
      operationId: batchRecordUsage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRecordUsageRequest'
      responses:
        '201':
          description: Usage records created
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageRecord'
                  total_count:
                    type: integer

  /api/usage-records/{id}:
    get:
      tags: [Usage]
      summary: Get usage record by ID
      operationId: getUsageRecord
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Usage record ID
      responses:
        '200':
          description: Usage record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRecord'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Usage]
      summary: Delete usage record
      description: Delete a usage record (for corrections, only allowed if not processed)
      operationId: deleteUsageRecord
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Usage record ID
      responses:
        '204':
          description: Usage record deleted
        '400':
          description: Cannot delete processed usage record

  /api/subscription-items/{id}/usage-summary:
    get:
      tags: [Usage]
      summary: Get usage summary
      description: Get aggregated usage summary for a subscription item
      operationId: getUsageSummary
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Subscription item ID
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'

  # Orders
  /api/orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, failed, refunded, partial_refund, completed, expired, cancelled, fraudulent]
        - name: customer_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
    post:
      tags: [Orders]
      summary: Create order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Created order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}/complete:
    post:
      tags: [Orders]
      summary: Complete order
      operationId: completeOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOrderRequest'
      responses:
        '200':
          description: Order completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}/subscriptions:
    get:
      tags: [Orders]
      summary: List order subscriptions
      operationId: listOrderSubscriptions
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: List of subscriptions created from this order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'

  # Shopping Cart
  /api/carts/{id}/add:
    post:
      tags: [Carts]
      summary: Add item to cart
      operationId: addCartItem
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Cart ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItemRequest'
      responses:
        '200':
          description: Item added to cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/carts/{id}/remove:
    post:
      tags: [Carts]
      summary: Remove item from cart
      operationId: removeCartItem
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Cart ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCartItemRequest'
      responses:
        '200':
          description: Item removed from cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/carts/{id}/validate-coupon:
    post:
      tags: [Carts]
      summary: Validate coupon code for cart
      description: Validates a coupon code and applies it to the cart if valid
      operationId: validateCartCoupon
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Cart ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCouponRequest'
      responses:
        '200':
          description: Coupon validated and applied to cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Invalid coupon code
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid coupon code"
                  message:
                    type: string
                    example: "Coupon code has expired"

  # Payments
  /api/payments:
    get:
      tags: [Payments]
      summary: List payments
      operationId: listPayments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, failed, succeeded, refunded, partial_refund, cancelled, expired, fraudulent]
        - name: customer_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payment'

  /api/payments/{id}:
    get:
      tags: [Payments]
      summary: Get payment by ID
      operationId: getPayment
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /api/payments/{id}/refund:
    post:
      tags: [Payments]
      summary: Refund payment
      operationId: refundPayment
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Refund processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'

  /api/payment-methods/{id}:
    get:
      tags: [Payments]
      summary: Get payment method by ID
      operationId: getPaymentMethod
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Payment method ID
      responses:
        '200':
          description: Payment method details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'

  # Invoices
  /api/invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, paid, overdue, cancelled, refunded]
        - name: customer_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'
    post:
      tags: [Invoices]
      summary: Create invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}:
    get:
      tags: [Invoices]
      summary: Get invoice by ID
      operationId: getInvoice
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    put:
      tags: [Invoices]
      summary: Update invoice
      operationId: updateInvoice
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Updated invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}/actions:
    post:
      tags: [Invoices]
      summary: Perform invoice action
      operationId: performInvoiceAction
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [send, finalize, void, mark_paid]
                  description: Action to perform on invoice
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}/line-items:
    get:
      tags: [Invoices]
      summary: List invoice line items
      operationId: listInvoiceLineItems
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: List of line items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceLineItem'
    post:
      tags: [Invoices]
      summary: Add line item to invoice
      operationId: addInvoiceLineItem
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceLineItemRequest'
      responses:
        '200':
          description: Line item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceLineItem'

  /api/invoices/{id}/line-items/{lineItemId}:
    put:
      tags: [Invoices]
      summary: Update invoice line item
      operationId: updateInvoiceLineItem
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - name: lineItemId
          in: path
          required: true
          schema:
            type: string
          description: Line item ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceLineItemRequest'
      responses:
        '200':
          description: Line item updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceLineItem'
    delete:
      tags: [Invoices]
      summary: Delete invoice line item
      operationId: deleteInvoiceLineItem
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - name: lineItemId
          in: path
          required: true
          schema:
            type: string
          description: Line item ID
      responses:
        '200':
          description: Line item deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"

  /api/invoices/{id}/history:
    get:
      tags: [Invoices]
      summary: List invoice history
      operationId: listInvoiceHistory
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: List of history entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceHistory'

  /api/invoices/{id}/pdf:
    post:
      tags: [Invoices]
      summary: Generate invoice PDF
      operationId: generateInvoicePdf
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: PDF generated
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /api/invoices/{id}/payment-link:
    post:
      tags: [Invoices]
      summary: Create payment link for invoice
      description: Creates a single-use payment link for a specific invoice with optional customization
      operationId: createInvoicePaymentLink
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoicePaymentLinkRequest'
      responses:
        '201':
          description: Payment link created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/invoices/{id}/initiate-payment:
    post:
      tags: [Invoices]
      summary: Initiate payment for invoice
      description: Initiates payment for an invoice using a specified payment processor. Creates an order from the invoice and returns payment initialization details.
      operationId: initiateInvoicePayment
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateInvoicePaymentRequest'
      responses:
        '200':
          description: Payment initiation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiatePaymentResponse'
        '400':
          description: Bad request - invalid payment processor, invoice already paid, or cancelled invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal error during payment initiation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # Dunning Management
  /api/dunning/campaigns:
    get:
      tags: [Dunning]
      summary: List dunning campaigns
      operationId: listDunningCampaigns
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, completed]
        - name: subscription_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of dunning campaigns
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DunningCampaign'

  /api/dunning/campaigns/{id}:
    get:
      tags: [Dunning]
      summary: Get dunning campaign by ID
      operationId: getDunningCampaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Campaign ID
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningCampaign'
    patch:
      tags: [Dunning]
      summary: Update dunning campaign
      operationId: updateDunningCampaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Campaign ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDunningCampaignRequest'
      responses:
        '200':
          description: Updated campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningCampaign'

  /api/dunning/campaigns/{id}/attempts:
    get:
      tags: [Dunning]
      summary: List campaign attempts
      operationId: listCampaignAttempts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Campaign ID
      responses:
        '200':
          description: List of attempts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DunningAttempt'
    post:
      tags: [Dunning]
      summary: Trigger manual attempt
      operationId: triggerManualAttempt
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Campaign ID
      responses:
        '200':
          description: Attempt triggered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningAttempt'

  /api/dunning/campaigns/{id}/communications:
    get:
      tags: [Dunning]
      summary: List campaign communications
      operationId: listCampaignCommunications
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Campaign ID
      responses:
        '200':
          description: List of communications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DunningCommunication'

  /api/dunning/configurations:
    get:
      tags: [Dunning]
      summary: List dunning configurations
      operationId: listDunningConfigurations
      responses:
        '200':
          description: List of configurations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DunningConfiguration'
    post:
      tags: [Dunning]
      summary: Create dunning configuration
      operationId: createDunningConfiguration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDunningConfigurationRequest'
      responses:
        '201':
          description: Created configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningConfiguration'

  /api/dunning/configurations/{id}:
    get:
      tags: [Dunning]
      summary: Get dunning configuration by ID
      operationId: getDunningConfiguration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Configuration ID
      responses:
        '200':
          description: Configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningConfiguration'
    patch:
      tags: [Dunning]
      summary: Update dunning configuration
      operationId: updateDunningConfiguration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Configuration ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDunningConfigurationRequest'
      responses:
        '200':
          description: Updated configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DunningConfiguration'

  # Payment Tokens
  /api/payment-tokens/verify:
    post:
      tags: [Dunning]
      summary: Verify payment token
      operationId: verifyPaymentToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyPaymentTokenRequest'
      responses:
        '200':
          description: Token verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenVerification'

  /api/payment-tokens/activate:
    post:
      tags: [Dunning]
      summary: Activate payment token
      operationId: activatePaymentToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivatePaymentTokenRequest'
      responses:
        '200':
          description: Token activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "activated"

  /api/admin/subscriptions/{id}/payment-tokens:
    post:
      tags: [Dunning]
      summary: Create payment token for subscription
      operationId: createSubscriptionPaymentToken
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '201':
          description: Payment token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentToken'

  # Webhooks
  /api/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      operationId: listWebhooks
      responses:
        '200':
          description: List of webhook subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'
    post:
      tags: [Webhooks]
      summary: Create webhook subscription
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'

  /api/notify:
    post:
      tags: [Webhooks]
      summary: Process webhooks
      description: Internal endpoint for processing webhook notifications
      operationId: processWebhooks
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "processed"

  /api/notify/cdc:
    post:
      tags: [Webhooks]
      summary: Process CDC webhooks
      description: Internal endpoint for processing Change Data Capture webhooks
      operationId: processCdcWebhooks
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: CDC webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "processed"

  # Discounts
  /api/discounts:
    get:
      tags: [Discounts]
      summary: List discounts
      operationId: listDiscounts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: active
          in: query
          schema:
            type: boolean
          description: Filter by active status
        - name: type
          in: query
          schema:
            type: string
            enum: [fixed, percentage]
          description: Filter by discount type
        - name: recurring
          in: query
          schema:
            type: string
            enum: [once, forever, cycles]
          description: Filter by recurring type
      responses:
        '200':
          description: List of discounts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Discount'
    post:
      tags: [Discounts]
      summary: Create discount
      operationId: createDiscount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDiscountRequest'
      responses:
        '201':
          description: Created discount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/discounts/{id}:
    get:
      tags: [Discounts]
      summary: Get discount by ID
      operationId: getDiscount
      parameters:
        - $ref: '#/components/parameters/DiscountId'
      responses:
        '200':
          description: Discount details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Discounts]
      summary: Update discount
      operationId: updateDiscount
      parameters:
        - $ref: '#/components/parameters/DiscountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDiscountRequest'
      responses:
        '200':
          description: Updated discount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags: [Discounts]
      summary: Delete discount
      operationId: deleteDiscount
      parameters:
        - $ref: '#/components/parameters/DiscountId'
      responses:
        '204':
          description: Discount deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # Payment Links
  /api/payment-links:
    get:
      tags: [Payment Links]
      summary: List payment links
      operationId: listPaymentLinks
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          description: Filter by payment link status
          schema:
            type: string
            enum: [active, inactive, expired, used]
        - name: slug
          in: query
          description: Filter by slug (partial match)
          schema:
            type: string
      responses:
        '200':
          description: List of payment links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkListResponse'
    post:
      tags: [Payment Links]
      summary: Create payment link
      operationId: createPaymentLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
      responses:
        '201':
          description: Payment link created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/payment-links/{id}:
    get:
      tags: [Payment Links]
      summary: Get payment link by ID
      operationId: getPaymentLink
      parameters:
        - $ref: '#/components/parameters/PaymentLinkId'
      responses:
        '200':
          description: Payment link details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Payment Links]
      summary: Update payment link
      operationId: updatePaymentLink
      parameters:
        - $ref: '#/components/parameters/PaymentLinkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentLinkRequest'
      responses:
        '200':
          description: Payment link updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Payment Links]
      summary: Delete payment link
      operationId: deletePaymentLink
      parameters:
        - $ref: '#/components/parameters/PaymentLinkId'
      responses:
        '204':
          description: Payment link deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /api/payment-links/slug/{slug}:
    get:
      tags: [Payment Links]
      summary: Get payment link by slug
      operationId: getPaymentLinkBySlug
      parameters:
        - name: slug
          in: path
          required: true
          description: The payment link slug
          schema:
            type: string
      responses:
        '200':
          description: Payment link details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/payment-links/{id}/usage:
    get:
      tags: [Payment Links]
      summary: List payment link usage records
      operationId: listPaymentLinkUsages
      parameters:
        - $ref: '#/components/parameters/PaymentLinkId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: event_type
          in: query
          description: Filter by event type
          schema:
            type: string
        - name: start_date
          in: query
          description: Filter from this date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: Filter to this date (ISO 8601)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of payment link usage records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkUsageListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/payment-links/usage:
    post:
      tags: [Payment Links]
      summary: Record payment link usage
      operationId: recordPaymentLinkUsage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordPaymentLinkUsageRequest'
      responses:
        '201':
          description: Usage recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkUsageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/payment-links/usage/{id}:
    get:
      tags: [Payment Links]
      summary: Get payment link usage record
      operationId: getPaymentLinkUsage
      parameters:
        - name: id
          in: path
          required: true
          description: The usage record ID
          schema:
            type: string
      responses:
        '200':
          description: Usage record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkUsageResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # Public Payments (no authentication required)
  /api/pay/{slug}:
    get:
      tags: [Public Payments]
      summary: Get payment details
      description: |
        Retrieve payment details for a payment link by slug. This endpoint is publicly accessible
        and requires a valid token query parameter for access validation.
      operationId: getPublicPaymentDetails
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          description: The payment link slug identifier
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: Access token for payment link validation
          schema:
            type: string
      responses:
        '200':
          description: Payment details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Payment link not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/pay/{slug}/create-order:
    post:
      tags: [Public Payments]
      summary: Create order from payment link
      description: |
        Create a new order from a payment link. This endpoint handles both invoice payments
        and checkout scenarios. It requires a valid token for access validation.
      operationId: createPublicPaymentOrder
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          description: The payment link slug identifier
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: Access token for payment link validation
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCreateOrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Payment link not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/pay/{slug}/order/{orderId}/status:
    get:
      tags: [Public Payments]
      summary: Get order status
      description: |
        Retrieve the current status of an order created through a payment link.
        This endpoint is publicly accessible with token validation.
      operationId: getPublicOrderStatus
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          description: The payment link slug identifier
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The order ID
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: Access token for payment link validation
          schema:
            type: string
      responses:
        '200':
          description: Order status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOrderStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Order not found or payment link not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # Reports & Analytics
  /api/reports/revenue/mrr:
    get:
      tags: [Reports]
      summary: Monthly Recurring Revenue
      operationId: getMrr
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: MRR data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueReport'

  /api/reports/revenue/arr:
    get:
      tags: [Reports]
      summary: Annual Recurring Revenue
      operationId: getArr
      parameters:
        - name: year
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ARR data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueReport'

  /api/reports/active-subscribers:
    get:
      tags: [Reports]
      summary: Active subscribers count
      operationId: getActiveSubscribers
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Active subscribers data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberReport'

  /api/reports/refunds:
    get:
      tags: [Reports]
      summary: Refund totals
      operationId: getRefundTotals
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Refund data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundReport'

  /api/reports/churn/totals:
    get:
      tags: [Reports]
      summary: Customer churn totals
      operationId: getChurnTotals
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Churn totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChurnReport'

  /api/reports/churn/rates:
    get:
      tags: [Reports]
      summary: Customer churn rates
      operationId: getChurnRates
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [monthly, quarterly, yearly]
      responses:
        '200':
          description: Churn rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChurnReport'

  # Settings
  /api/settings/{parent_id}:
    get:
      tags: [Settings]
      summary: List settings
      operationId: listSettings
      parameters:
        - name: parent_id
          in: path
          required: true
          schema:
            type: string
          description: Parent ID (organization ID)
      responses:
        '200':
          description: List of settings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Setting'
    post:
      tags: [Settings]
      summary: Create setting
      operationId: createSetting
      parameters:
        - name: parent_id
          in: path
          required: true
          schema:
            type: string
          description: Parent ID (organization ID)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSettingRequest'
      responses:
        '201':
          description: Setting created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'

  /api/settings/{parent_id}/{id}:
    get:
      tags: [Settings]
      summary: Get setting by ID
      operationId: getSetting
      parameters:
        - name: parent_id
          in: path
          required: true
          schema:
            type: string
          description: Parent ID (organization ID)
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Setting ID
      responses:
        '200':
          description: Setting details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
    put:
      tags: [Settings]
      summary: Update setting
      operationId: updateSetting
      parameters:
        - name: parent_id
          in: path
          required: true
          schema:
            type: string
          description: Parent ID (organization ID)
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Setting ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSettingRequest'
      responses:
        '200':
          description: Setting updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
    delete:
      tags: [Settings]
      summary: Delete setting
      operationId: deleteSetting
      parameters:
        - name: parent_id
          in: path
          required: true
          schema:
            type: string
          description: Parent ID (organization ID)
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Setting ID
      responses:
        '204':
          description: Setting deleted

  # Gateways
  /api/gateways:
    get:
      tags: [Gateways]
      summary: List payment gateways
      operationId: listGateways
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of gateways
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Gateway'
    post:
      tags: [Gateways]
      summary: Create payment gateway
      operationId: createGateway
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      responses:
        '201':
          description: Gateway created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'

  /api/gateways/{id}:
    get:
      tags: [Gateways]
      summary: Get gateway by ID
      operationId: getGateway
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Gateway ID
      responses:
        '200':
          description: Gateway details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Gateways]
      summary: Update gateway
      operationId: updateGateway
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Gateway ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      responses:
        '200':
          description: Gateway updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Gateways]
      summary: Delete gateway
      operationId: deleteGateway
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Gateway ID
      responses:
        '204':
          description: Gateway deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # Sessions
  /api/sessions:
    post:
      tags: [Sessions]
      summary: Create session
      operationId: createSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key authentication
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number (0-based)
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      description: Number of items per page
    SortBy:
      name: sort_by
      in: query
      schema:
        type: string
      description: Field to sort by
    SortDirection:
      name: sort_order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc
      description: Sort direction
    SubscriptionId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Subscription ID
    CustomerId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Customer ID
    ProductId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Product ID
    VariantId:
      name: variantId
      in: path
      required: true
      schema:
        type: string
      description: Variant ID
    PriceId:
      name: priceId
      in: path
      required: true
      schema:
        type: string
      description: Price ID
    OrderId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Order ID
    PaymentId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Payment ID
    InvoiceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Invoice ID
    DiscountId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Discount ID
    PaymentLinkId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Payment Link ID

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiError'
              - type: object
                properties:
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string

  schemas:
    # Common schemas
    ListResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        meta:
          $ref: '#/components/schemas/Meta'

    Meta:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items
        page:
          type: integer
          description: Current page number
        limit:
          type: integer
          description: Items per page

    ApiError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Error code
          enum: [bad_request, authentication_error, not_found, validation_error, internal_error]
        message:
          type: string
          description: Human-readable error message
        details:
          oneOf:
            - type: object
            - type: string
          description: Additional error details

    Address:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        line1:
          type: string
          description: Address line 1
        line2:
          type: string
          description: Address line 2
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code

    # Discount schemas
    Discount:
      type: object
      properties:
        id:
          type: string
          description: Unique discount identifier
        org_id:
          type: string
          description: Organization identifier
        name:
          type: string
          description: Discount name
        type:
          type: string
          enum: [fixed, percentage]
          description: Discount type
        value:
          type: integer
          description: Discount value (amount in smallest currency unit for fixed, percentage 0-100 for percentage)
        code:
          type: string
          description: Discount code (optional)
        starts_at:
          type: string
          format: date-time
          description: Discount validity start date
        ends_at:
          type: string
          format: date-time
          description: Discount validity end date
        max_redemptions:
          type: integer
          description: Maximum number of redemptions allowed
        recurring:
          type: string
          enum: [once, forever, cycles]
          description: Discount recurring behavior
        cycles:
          type: integer
          description: Number of billing cycles (for recurring=cycles)
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code (required for fixed discounts)
        active:
          type: boolean
          description: Whether the discount is active
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    DiscountRedemption:
      type: object
      properties:
        id:
          type: string
          description: Unique redemption identifier
        org_id:
          type: string
          description: Organization identifier
        discount_id:
          type: string
          description: Associated discount ID
        customer_id:
          type: string
          description: Customer who redeemed the discount
        resource_type:
          type: string
          enum: [subscription, invoice, payment, checkout_session]
          description: Type of resource the discount was applied to
        resource_id:
          type: string
          description: ID of the resource the discount was applied to
        discount_amount:
          type: integer
          description: Amount saved in smallest currency unit
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    CreateDiscountRequest:
      type: object
      required: [name, type, value, recurring]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Discount name
        type:
          type: string
          enum: [fixed, percentage]
          description: Discount type
        value:
          type: integer
          minimum: 1
          description: Discount value (amount in smallest currency unit for fixed, percentage 0-100 for percentage)
        code:
          type: string
          pattern: '^[A-Z0-9_-]+$'
          minLength: 1
          maxLength: 50
          description: Discount code (optional, will be normalized to uppercase)
        starts_at:
          type: string
          format: date-time
          description: Discount validity start date
        ends_at:
          type: string
          format: date-time
          description: Discount validity end date
        max_redemptions:
          type: integer
          minimum: 1
          description: Maximum number of redemptions allowed
        recurring:
          type: string
          enum: [once, forever, cycles]
          description: Discount recurring behavior
        cycles:
          type: integer
          minimum: 1
          description: Number of billing cycles (required when recurring=cycles)
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code (required for fixed discounts)
        active:
          type: boolean
          default: true
          description: Whether the discount is active
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    UpdateDiscountRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Discount name
        code:
          type: string
          pattern: '^[A-Z0-9_-]+$'
          minLength: 1
          maxLength: 50
          description: Discount code (will be normalized to uppercase)
        starts_at:
          type: string
          format: date-time
          description: Discount validity start date
        ends_at:
          type: string
          format: date-time
          description: Discount validity end date
        max_redemptions:
          type: integer
          minimum: 1
          description: Maximum number of redemptions allowed
        active:
          type: boolean
          description: Whether the discount is active
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    ValidateDiscountRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: Discount code to validate
        customer_id:
          type: string
          description: Customer ID for validation context
        amount:
          type: integer
          minimum: 1
          description: Amount to apply discount to (in smallest currency unit)
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code

    DiscountValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the discount code is valid
        discount:
          $ref: '#/components/schemas/Discount'
        discount_amount:
          type: integer
          description: Amount that would be saved (in smallest currency unit)
        final_amount:
          type: integer
          description: Final amount after discount (in smallest currency unit)
        error:
          type: string
          description: Error message if validation failed

    ApplyDiscountRequest:
      type: object
      required: [customer_id, resource_type, resource_id, amount, currency]
      properties:
        discount_id:
          type: string
          description: Discount ID to apply (use this OR code)
        code:
          type: string
          description: Discount code to apply (use this OR discount_id)
        customer_id:
          type: string
          description: Customer ID
        resource_type:
          type: string
          enum: [subscription, invoice, payment, checkout_session]
          description: Type of resource to apply discount to
        resource_id:
          type: string
          description: ID of resource to apply discount to
        amount:
          type: integer
          minimum: 1
          description: Amount to apply discount to (in smallest currency unit)
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code

    DiscountApplicationResponse:
      type: object
      properties:
        discount:
          $ref: '#/components/schemas/Discount'
        redemption:
          $ref: '#/components/schemas/DiscountRedemption'
        discount_amount:
          type: integer
          description: Amount saved (in smallest currency unit)
        final_amount:
          type: integer
          description: Final amount after discount (in smallest currency unit)

    # Payment Link schemas
    PaymentLink:
      type: object
      properties:
        id:
          type: string
          description: Unique payment link identifier
        slug:
          type: string
          description: URL-friendly identifier
        data:
          type: object
          additionalProperties: true
          description: Payment link data configuration
        config:
          type: object
          additionalProperties: true
          description: Payment link configuration
        single_use:
          type: boolean
          description: Whether this link can only be used once
        status:
          type: string
          enum: [active, inactive, expired, used]
          description: Current status of the payment link
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        used_at:
          type: string
          format: date-time
          description: Timestamp when the link was used (if applicable)
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp (if applicable)

    PaymentLinkUsage:
      type: object
      properties:
        id:
          type: string
          description: Unique usage record identifier
        payment_link_id:
          type: string
          description: Associated payment link ID
        session_id:
          type: string
          description: Session identifier (if applicable)
        customer_id:
          type: string
          description: Customer identifier (if applicable)
        event_type:
          type: string
          description: Type of usage event
        ip_address:
          type: string
          description: IP address of the user
        user_agent:
          type: string
          description: User agent string
        referer:
          type: string
          description: HTTP referer
        country:
          type: string
          description: Country code derived from IP
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata
        timestamp:
          type: string
          format: date-time
          description: Event timestamp

    CreatePaymentLinkRequest:
      type: object
      required: [slug, config]
      properties:
        slug:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9_-]+$'
          description: URL-friendly identifier (must be unique within organization)
        data:
          type: object
          additionalProperties: true
          description: Payment link data configuration
        config:
          type: object
          additionalProperties: true
          description: Payment link configuration
        single_use:
          type: boolean
          default: false
          description: Whether this link can only be used once
        expires_at:
          type: string
          format: date-time
          description: Optional expiration timestamp

    UpdatePaymentLinkRequest:
      type: object
      properties:
        slug:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9_-]+$'
          description: URL-friendly identifier
        data:
          type: object
          additionalProperties: true
          description: Payment link data configuration
        config:
          type: object
          additionalProperties: true
          description: Payment link configuration
        single_use:
          type: boolean
          description: Whether this link can only be used once
        status:
          type: string
          enum: [active, inactive, expired, used]
          description: Payment link status
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp

    CreateInvoicePaymentLinkRequest:
      type: object
      properties:
        expires_at:
          type: string
          format: date-time
          description: Optional expiration timestamp (defaults to invoice due date)
[...]
